body {
    font-family: Helvetica;
    color: white;
    background-color: #000639;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

line {
    display: block;
    height: 1px;
    width: 30px;
    border: 0;
    border-top: 3px solid #7AB55C;
    margin: 1em 0;
    padding: 0;
}

.text {
    font-size: 16px;
    padding: 20px 0px;
}

.section-block {
    padding-bottom: 0;
}

.section-block.fields {
    padding-top: 10px;
}

.field {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    padding: 10px;
    color: #7B7B7B;
    margin-bottom: 5px;
    height: 50px;
}

.field.margin {
    margin-right: 0;
    margin-bottom: 5px;
}

label {
    display: block;
}

p#invalid {
    color: #C23628;
    display: none;
}

#signup {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #5C6AC4;
    height: 50px;
}

#footer {
	float: bottom;
	text-align: center;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
}

#unsub {
    color: white;
}